.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  background-color: #e5e7ff;
}

/* header */
header {
  background-image: url(../Assets/Hero-bg.png);
  height: 700px;
  width: auto;
}

/*  nav style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
}
.nav-logo {
  font-weight: black;
  font-size: 34px;
  color: #4e47ff;
}

nav ul li {
  list-style: none;
}

nav ul li a button {
  background-color: #4e47ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 3px;
  transition: 0.5s;
}
.hover:hover {
  color: white;
  background-color: rgb(28, 158, 95);
  transform: scale(1.2);
  z-index: 2;
}

/* banner */

.banner {
  width: 905px;
  margin: 172px 267.5px 152px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner h2 {
  text-align: center;
  font-size: 65px;
  font-weight: 700;
  color: #252432;
}
.banner button {
  background-color: #4e47ff;
  color: #ffffff;
  border: none;
  padding: 7px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.5s;
}

/* banner-2 */
.banner-2 {
  height: 328px;
  width: 1140px;
  margin: 141px 159px 141px 132px;
  border-radius: 48px;
  background-color: #b9b7e455;
  padding: 32px;
  gap: 190px;
  display: flex;
  justify-content: space-between;
}

.banner-2-text h3 {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
}
.banner-2-text p {
  font-size: 18px;
  font-weight: 200;
  text-align: left;
  color: #8785a3;
}
.banner-2-text button {
  font-size: 16px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: #4e47ff;
  color: #ffffff;
  transition: 0.5s;
}
.banner-2-pic img {
  height: 328px;
  width: 403px;
  border-radius: 48px;
}

/* user-section */

.user-section {
  height: 300px;
  width: 1140px;
  margin: 141px 159px 141px 132px;
  border-radius: 28px;
  padding: 32px;
  background-color: #928ff5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.sec-user-num {
  display: flex;
  gap: 158px;
  text-align: center;
}
.sec-user-num .box-1.box2.box3 {
  gap: 5px;
}

/* user-review-banner */

.user-review-banner {
  height: 342px;
  width: 1140px;
  margin: 141px 159px 141px 132px;
  padding: 32px;
}
.review-header {
  text-align: center;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 42px;
}
.description-box1 {
  height: 232px;
  width: 366px;
  background: #eae5e5;
  border: 0.2px solid rgb(252, 251, 251);
  border-radius: 12px;
  padding-top: 12px;
  padding-left: 9px;
  padding-bottom: 0px;
}
.review-name-box {
  margin-top: 0;
  display: flex;
  align-items: center;
  gap: 12px;
}
.review-name-box img {
  border-radius: 50%;
}
.text-reviewer h4 {
  margin: 0;
  padding: 0;
  font-size: bold;
  font-weight: 500;
}
.text-reviewer .date {
  font-weight: 200;
}
.user-review-description {
  height: 243px;
  width: 1140px;
  display: flex;
  column-gap: 32px;
  justify-content: space-between;
}

/* form section */

.get-in-touch {
  height: 632px;
  width: 1140px;
  margin: 141px 130px 141px 178px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 162px;
}
.form-section {
  height: 490px;
  width: 697px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section textarea {
  height: 135px;
  width: 297px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.form-section input {
  width: 297px;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
}
.get-in-touch .heading {
  width: 528px;
  height: 232px;
  margin-left: 42px;
  display: flex;
  align-items: center;
}
.get-in-touch .heading h1 {
  font-size: 62px;
  font-weight: bold;
}

.form-section label {
  font-size: 12px;
  font-weight: 500;
}

.form-section button {
  width: 308px;
  padding: 8px;
  margin-top: 12px;
  border-radius: 5px;
  border: none;
  background-color: #4e47ff;
  color: #ffffff;
  transition: 0.5s;
}

/* footer */

footer {
  height: 428px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.footer-con {
  height: 221px;
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo h1 {
  font-size: 67px;
  font-weight: bold;
  color: #4e47ff;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.footer-para {
  text-align: center;
  color: #8987a1;
}
.footer-link ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-link ul li {
  list-style: none;
}
.footer-link ul li a {
  text-decoration: none;
  color: #8987a1;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  margin-right: 32px;
}
